@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-color: #69724f;
  --main-color: #666363;
  --second-maincolor: #121212;
  --writing-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 110px;
  border: 1px solid var(--btn-color);
}
.flex {
  display: flex;
}
.header-wrap {
  justify-content: space-around;
  align-items: center;
}
.logo {
  margin-top: 10px;
}
.menu {
  gap: 47px;
}
.menu a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-color);
}
.button-menu {
  width: 180px;
  height: 70px;
  background-color: var(--btn-color);
}
.btn-menu {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  padding: 23px 46px;
}
/*------------------------------------- sec1 -----------------------------------------*/
.sec1 {
  width: 100%;
  height: 900px;
  background-image: url(images/Rectangle\ 8.png);
}
.sec1-wrap {
  gap: 92px;
}
.sec1-h2 {
  width: 202px;
  height: 96px;
  margin-left: 150px;
  margin-top: 70px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--main-color);
  width: 202px;
  height: 96px;
}
h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 81px;
  color: var(--main-color);
  margin-top: 60px;
  margin-left: 100px;
}
.line {
  width: 200px;
  border: 1px solid;
  margin-top: 30px;
  margin-left: 380px;
  margin-bottom: 30px;
  color: var(--btn-color);
}
.h2 {
  margin-top: 75px;
  width: 1032px;
  height: 90px;
  background-color: var(--btn-color);
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
}
.sec1-p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: var(--main-color);
  margin-top: 20px;
  width: 998px;
  height: 84px;
}
/*------------------------------------------- section2 ----------------------------------------------*/
.sec2-h2 {
  margin-top: 90px;
  color: var(--second-maincolor);
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}
.line2 {
  width: 200px;
  border: 1px solid;
  margin-top: 30px;
  margin-left: 653px;
  margin-bottom: 30px;
  color: var(--btn-color);
}
.sec2-images {
  margin-left: 59.5px;
  display: flex;
  gap: 64px;
  width: 300px;
  height: 250px;
}
.sec2-p {
  margin-left: 59px;
  margin-right: 59px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}
.sec2-h3 {
  margin-left: 76px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--second-maincolor);
}
.sec2-pozhertvui {
  margin-top: 76px;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--second-maincolor);
}
/*-------------------------------------- section3 ----------------------------------*/
.sec3-wrap {
  width: 100%;
  height: 408px;
  background-image: url(images/Rectangle\ 13.png);
}
.sec3-h4 {
  margin-top: 30px;
  margin-left: 550px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.write1 {
  margin-top: 30px;
  margin-left: 657px;
}
.write2 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 657px;
}
.btn-sec3 {
  margin-top: 50px;
  margin-left: 675px;
  width: 150px;
  height: 40px;
  background-color: #f5f5f5;
  color: var(--second-maincolor);
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 21px;
}
#cost {
  margin-top: 50px;
  margin-left: 600px;
  width: 300px;
  height: 50px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#username {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 600px;
  width: 300px;
  height: 50px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/*--------------------------------------- section4 ----------------------------------------------*/
.picture-border {
  margin-left: 60px;
  margin-bottom: 80px;
  border: var(--btn-color) 2px;
  width: 1400px;
  height: 700px;
}
.sec4-h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--second-maincolor);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
/*--------------------------------------- section5 ----------------------------------------------*/
.sec5-h3_1 {
  width: 100%;
  height: 90px;
  background-color: var(--btn-color);
}
.sec5-h3_2 {
  color: var(--writing-color);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  padding-top: 26px;
  text-align: center;
}
.margin-top {
  margin-left: 75px;
  margin-top: 30px;
}
.border {
  margin-left: 75px;
  width: 700px;
  height: 360px;
  border: var(--btn-color) 1px solid;
}
.gap-2 {
  margin-top: 30px;
}
.border > h4 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  margin-left: 20px;
}
.border > p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  margin-left: 20px;
  margin-top: 20px;
  width: 657px;
  height: 264px;
}
.line4 {
  width: 100%;
  border: 1px solid;
  margin-top: 80px;
  color: var(--btn-color);
}
.btn-footer1 {
  margin-top: 50px;
  margin-left: 410px;
  width: 219px;
  height: 62px;
  border: 1px solid;
  color: var(--btn-color);
}
.btn-footer2 {
  margin-top: 50px;
  margin-left: 30px;
  width: 219px;
  height: 62px;
  border: 1px solid;
  color: var(--btn-color);
}
.btn-footer3 {
  margin-top: 50px;
  margin-left: 30px;
  width: 219px;
  height: 62px;
  border: 1px solid;
  color: var(--btn-color);
}
.btn-text {
  color: var(--second-maincolor);
}
.footer-line {
  width: 100%;
  height: 50px;
  background-color: #69724f;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  margin-top: 50px;
  padding-left: 650px;
  padding-top: 16px;
}
.image-right {
  margin-left: 250px;
}
